{% extends 'base.html'%}

{%block title%}Деобезличивание{%endblock%}

{%block content%}
<form class="send_form" action="/decrypt_f" enctype="multipart/form-data" method="POST">
   <p><input type="file" name="file">
   <input type="submit" value="Отправить"></p>
</form>

Скачать файл:
<a href="{{ url_for('download', filename='decrypt.docx') }}">Скачать</a>

<div class="crypto">
    <div class="textarea" contenteditable ><per>{{content|safe}}</per></div>
    <div class="textarea" contenteditable ><per>{{cryptoTxt|safe}}</per></div>
</div>
{%endblock%}