{% extends 'base.html'%}

{%block title%}Обезличивание{%endblock%}

{%block content%}

<br>
<form action="/upload_f" enctype="multipart/form-data" method="POST">
    <p>
        <input type="file" name="file">
        <input class="button" type="submit" value="Обработать файл">
    </p>
</form>


<div class="content">
    <div class="textarea" contenteditable ><per>{{content|safe}}</per></div>
    <div class="textarea" contenteditable ><per id="block_id" style="display: none;">{{cryptoTxt|safe}}</per></div>
</div>

<br>
<div class="content dwn-btn">
    <div>
        <a class="button" id="dwn-btn" href="javascript:void(0)" onclick="showHide('block_id')">Обезличить</a>
        <div class="example">
            <form action="/example" method="POST"><input class="link" name="ex1" type="submit" value="Судья Московского городского суда при помощнике судьи,"></form>
            <form action="/example" method="POST"><input class="link" name="ex1" type="submit" value="Состав команды,"></form>
        </div>
            <form action="/example" method="POST"><input class="link" name="ex1" type="submit" value="Президиум Верховного Суда Российской Федерации"></form>
    </div>
    <div>
        <a class="button" id="dwn-btn" href="{{ url_for('download', filename='encrypt.docx') }}">Сохранить в файл</a>
    </div>
</div>



<script type="text/javascript">
            /**
            * Функция Скрывает/Показывает блок
            * @author ox2.ru дизайн студия
            **/
            function showHide(element_id) {
                //Если элемент с id-шником element_id существует
                if (document.getElementById(element_id)) {
                    //Записываем ссылку на элемент в переменную obj
                    var obj = document.getElementById(element_id);
                    //Если css-свойство display не block, то:
                    sleep(2000);
                    if (obj.style.display != "block") {
                        obj.style.display = "block"; //Показываем элемент
                    }
                    else obj.style.display = "none"; //Скрываем элемент
                }
                //Если элемент с id-шником element_id не найден, то выводим сообщение
<!--                else alert("Элемент с id: " + element_id + " не найден!");-->
            }
        </script>
{%endblock%}
