<!DOCTYPE html>
<html>
<head>
    <title>WithOutFace</title>
    <link rel="stylesheet" href="static/logo.css">
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/fonts.css">
    <link rel="stylesheet" href="static/aplication.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    table{
    font-size: 1.3rem;
    }
    h1{
    font-size:3rem;
    }
    #content{
    margin-top:13%;
    }
</style>
</head>
<body>



<div id="header-1">
    <div class="container">
        <div class="header-gerb">
            <img class="mvd_logo" src="static/mvd_logo.png">
        </div>
        <div class="header-logo__icon">
            <div class="icon logo"></div>
        </div>
        <div class="header-logo__info">
            <div class="header-logo__info-title">Воронежский институт МВД России</div>
            <div class="header-logo__info-text">Портал обезличивания персональных данных</div>
        </div>
        <div class="header-buttons">
            <a class="header-btn" href="/auth">Войти</a>
        </div>
    </div>
</div>



    <div class="container" id="content">
        <h1 align="center">Автоматизированная система защиты персональных <br>данных от несанкционированного использования</h1>
        <br>
        <br>
        <h4>Состав команды АнонимуZ:</h4>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td> капитан команды </td>
            <td></td>
          <td> курсант Р18К1 взвода РТФ </td>
            <td></td>
          <td> М.Х. Султанахмедов </td>
        </tr>

        <tr>
          <td> разработчик </td>
            <td></td>
          <td> курсант Р18К1 взвода РТФ </td>
            <td></td>
          <td> М.Д. Калмыков </td>
        </tr>

         <tr>
          <td> разработчик </td>
             <td></td>
          <td> курсант Р19Б1 взвода РТФ </td>
            <td></td>
          <td> В.А. Шванов </td>
        </tr>

        <tr>
          <td> проектировщик </td>
            <td></td>
          <td> курсант Р19Б1 взвода РТФ </td>
            <td></td>
          <td> М.А. Тарабрин </td>
        </tr>

        <tr>
          <td> дизайнер, тестировщик </td>
            <td></td>
          <td> курсант Р18К1 взвода РТФ </td>
            <td></td>
          <td> В.Д. Стутко </td>
        </tr>
      </tbody>
    </table>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>