<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
   .crypto{
   display: flex;
   flex-direction: row;
   }
   .textarea
   {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 28px;
    overflow: auto;
    padding: 2px;
    resize: both;
    width: 590px;
    height: 760px;
    }
  </style>
</head>
<body>
<form action="/upload_f" enctype="multipart/form-data" method="POST">
   <p><input type="file" name="file">
   <input type="submit" value="Отправить"></p>
</form>

Скачать файл:
<a href="{{ url_for('download', filename='finaly.txt') }}">Скачать</a>


<form method="POST" action="/">
    <input type="submit" value="EXIT">
</form>

<div class="crypto">
    <div class="textarea" contenteditable ><per>{{content|safe}}</per></div>
    {% if role == 'wr' %}
        <div class="textarea" contenteditable ><per>{{cryptoTxt|safe}}</per></div>
    {% endif %}
</div>
</body>
</html>






